{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "func-names": 0,
    "max-statements": ["warn", 100],
    "no-use-before-define": ["off", { "functions": false, "classes": false }],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-indent-props": 0,
    "react/prefer-stateless-function": 0
  }
}