# npm will use .gitignore if .npmignore does not exist. we don't want this.
# npm modules
node_modules/
# coverage report
coverage/
# Misc
.vscode/
.github/
.nyc_output/
test/
.eslintignore
.eslintrc
.gitignore
